<div class='page-wrapper'>
	<div class="slideshow-title">
		<div class="planet-title">PLANET</div>
		<div class="planet-name">GEMSTONE</div>
	</div>
	<div class="interface">
		<div class="previous-btn dots-arrow-btn btn">
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<circle class="knot" />
				<circle class="knot" />
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
		<div class="next-btn dots-arrow-btn btn">
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<circle class="knot" />
				<circle class="knot" />
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
	</div>
</div>