<div class='page-wrapper'>
	<div class="compasses-texts-wrapper">
	</div>
	<div class="interface">
		<div class="go-campaign-btn dots-rectangle-btn btn">
			<div class="btn-title"></div>
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
	</div>
</div>