<div class='page-wrapper'>
	<div class="interface">
		<div class="previous-btn dots-arrow-btn btn">
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<circle class="knot" />
				<circle class="knot" />
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
		<div class="next-btn dots-arrow-btn btn">
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<circle class="knot" />
				<circle class="knot" />
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
		<div class="buy-btn dots-rectangle-btn btn">
			<div class="btn-title"></div>
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
	</div>

	<div class="product-containers-wrapper">
		<div class="product-container product-container-a">
			<div class="poster-wrapper">
				<img src="{{empty-image}}">
			</div>
			<div class="video-wrapper">
			</div>
		</div>
		<div class="product-container product-container-b">
			<div class="poster-wrapper">
				<img src="{{empty-image}}">
			</div>
			<div class="video-wrapper">
			</div>
		</div>
	</div>
</div>