<div class='page-wrapper'>
	<div class="product-containers-wrapper">
		<div class="product-container-a">
			<div class="poster-wrapper">
				<img src="//:0">
			</div>
			<div class="video-wrapper">
			</div>
		</div>
		<div class="product-container-b">
			<div class="poster-wrapper">
				<img src="//:0">
			</div>
			<div class="video-wrapper">
			</div>
		</div>
	</div>
</div>