<div class='page-wrapper'>
	
	{{#if isMobile}}

	{{else}}
		<div id="scrollbar-view">
			<div class="relative">
				<div class="scroll-grab btn"></div>
				<div class="scroll-bg btn"></div>
			</div>
		</div>
	{{/if}}



	<div class="interface absolute">
		
		<div class="down-btn dots-arrow-btn btn">
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<circle class="knot" />
				<circle class="knot" />
				<line class="line" />
				<line class="line" />
			</svg>
		</div>

		<div class="slideshow-title">
			<div class="planet-title"></div>
			<div class="planet-name"></div>
		</div>

		<div class="compasses-texts-wrapper"></div>
		
		<a href="#" target="_blank" class="buy-btn btn">
			<div class="dots-rectangle-btn btn">
				<div class="btn-title"></div>
				<svg>
					<circle class="knot" />
					<circle class="knot" />
					<circle class="knot" />
					<circle class="knot" />
					<line class="line"/>
					<line class="line"/>
					<line class="line" />
					<line class="line" />
				</svg>
			</div>
			<div class="product-title-wrapper">
				<div class="product-title title-a"></div>
				<div class="product-title title-b"></div>
			</div>
		</a>
		<div class="product-containers-wrapper">
			<div class="product-container product-container-a">
				<div class="poster-wrapper">
					<div class="spinner-img spinner-wrapper">
						<svg width="100%" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#76f19a">
								<animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="0.5s" fill="freeze" repeatCount="indefinite"></animateTransform>
							</path>
						</svg>
					</div>
					<img src="{{empty-image}}">
				</div>
				<div class="video-wrapper btn">
					{{! <div class="play-btn">
						<svg>
							<circle class="around" />
							<circle class="knot" />
							<circle class="knot" />
							<circle class="knot" />
							<line class="line"/>
							<line class="line"/>
						</svg>
					</div> }}
					<div class="video-container btn"></div>
				</div>
			</div>
			<div class="product-container product-container-b">
				<div class="poster-wrapper">
					<div class="spinner-img spinner-wrapper">
						<svg width="100%" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#76f19a">
								<animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 150 150" to="360 150 150" begin="0s" dur="0.5s" fill="freeze" repeatCount="indefinite"></animateTransform>
							</path>
						</svg>
					</div>
					<img src="{{empty-image}}">
				</div>
				<div class="video-wrapper btn">
					{{! <div class="play-btn">
						<svg>
							<circle class="around" />
							<circle class="knot" />
							<circle class="knot" />
							<circle class="knot" />
							<line class="line"/>
							<line class="line"/>
						</svg>
					</div> }}
					<div class="video-container btn"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="interface fixed">
		<div class="previous-btn dots-arrow-btn btn">
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<circle class="knot" />
				<circle class="knot" />
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
		<div class="next-btn dots-arrow-btn btn">
			<svg>
				<circle class="knot" />
				<circle class="knot" />
				<circle class="knot" />
				<line class="line"/>
				<line class="line"/>
				<circle class="knot" />
				<circle class="knot" />
				<line class="line" />
				<line class="line" />
			</svg>
		</div>
	</div>

</div>