#front-container {
	position: fixed;
	z-index: 20;
	a {
		color: $black;
	}
	header {
		width: 100%;
		background-color: yellow;
		position: fixed;
		ul {
			li {
				@include inline-block;
				margin-right: 20px;
			}
		}
	}
	footer {
		ul#social-wrapper{
			$w: 34px;
			position: absolute;
			li {
				width: $w;
				height: $w;
				margin: 16px 0;
				&:last-child {
					margin-bottom: 0;
				}
				svg > * {
					fill: $white;
				}
			}
		}
	}
}