@include font-face('FuturaBold', '../font/futura/FuturaBT-Medium');

#font-charger {
	left: -10000px;
	top: -10000px;
	position: absolute;
	@include opacity(0);
	#FuturaBold {
		font-family: 'FuturaBold';
	}
}
