* {
    backface-visibility: hidden;
    user-select: none;
    transform-style: flat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    outline: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#temp {
    left: -10000px;
    top: -10000px;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    font-family: 'FuturaBold';
    position: absolute;
    z-index: 99999;
    @include opacity(0);
}
button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
}
img { border:0; }
svg, svg * {
    backface-visibility: hidden;
}
.clear-float {
    clear: both;
}
img {
    width: 100%;
}
a:-moz-focus-inner {
    border: 0;
    outline: none;
}
a:focus {
    border: 0;
    outline: none;
}
// for firefox image scale smoothing
img {
    -ms-interpolation-mode: bicubic;
}
// for ie
img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
.btn {
    cursor: pointer;
}
.relative {
    position: relative;
    width: 100%;
    height: 100%;
}
.full {
    width: 100%;
    height: 100%;
}
.top-left {
    top: 0;
    left: 0;
}
.vertical-center-parent {
    width: 100%;
    height: 100%;
    display: table;
}
.vertical-center-child {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}
.full-block {
    position: absolute;
    @extend .top-left;
}
h4 {
    font-size: 30px;
    line-height: 70px;
}
a {
    font-size: 22px;
    color: $white;
    text-decoration: none;
}
#scrollbar-view {
    $scrollbarW: 14px; 
    width: $scrollbarW;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 999999;
    .scroll-bg, .scroll-grab {
        position: absolute;
    }
    .scroll-bg {
        width: 100%;
        height: 100%;
        background-color: $white;
        display: none;
    }
    .scroll-grab {
        $gap: 2px;
        width: $scrollbarW;
        height: 100px;
        background-color: $white;
        z-index: 1;
    }
}
#landing.page-wrapper {
    @extend .full;
    .slideshow-title {
        font-size: 60px;
        position: absolute;
        text-align: center;
        letter-spacing: 2px;
    }
    .area-btn {
        position: absolute;
        z-index: 2;
    }
}
.interface {
    position: absolute;
    z-index: 10;
}
.interface.fixed {
    position: fixed;
    z-index: 11;
}
.dots-arrow-btn, .dots-rectangle-btn, .play-btn {
    position: absolute;
    // background-color: red;
    .btn-title {
        white-space: nowrap;
        font-size: $globalFontSize;
        position: absolute;
        text-transform: uppercase;
    }
    svg {
        @extend .full;
        .knot { fill: $white;}
        .line { stroke: $white; }
        // .knot, .line {
        //     @include simpleAnim(.6s, 0s, $easeOutExpo);        
        // }
    }
}
.play-btn {
    $w: 200px;
    width: $w;
    height: $w;
    left: 50%;
    top: 50%;
    margin-left: -$w/2;
    margin-top: -$w/2;
    z-index: 100;
    @include opacity(0);
    svg {
        .around {
            fill: transparent;
            stroke: $white;
            stroke-width: 3px;
        }
    }
    // @include opacity(0.9);
    // @include anim(.6s, 0s, $easeOutExpo, scale(1) translateZ(0), 50%, 50%, transform opacity);
    // &.hovered {
    //     @include opacity(1);
    //     @include anim(.6s, 0s, $easeOutExpo, scale(1.1) translateZ(0), 50%, 50%, transform opacity);
    // }
}
.buy-btn {
    position: absolute;
    font-size: $globalFontSize;
}
.dots-rectangle-btn {
    @include simpleAnim(.6s, 0s, $easeOutExpo);
    z-index: 10;
}
#main-loader {
    position: absolute;
    @extend .full;
    z-index: 999999;
    .background {
        position: absolute;
        @extend .full;
    }
    .spinner-wrapper {
        @include opacity(0);
        height: 100px;
    }
    .logo {
        @include opacity(0);
        position: absolute;
        z-index: 2;
        $w: 200px;
        width: $w;
        height: 70px;
        left: 50%;
        top: 44%;
        margin-top: -$w/2;
        margin-left: -$w/2;
        svg > * {
            fill: $white;
        }
    }
}
.spinner-wrapper {
    $w: 80px;
    position: absolute;
    z-index: 2;
    width: $w;
    height: $w;
    left: 50%;
    top: 50%;
    margin-left: -$w / 2;
    margin-top: -$w / 2;
    @include opacity(1);
    @include anim(.0s, 0s, $easeInOutExpo, scale(1), 50%, 50%, transform opacity);
    &.closed {
        @include opacity(0);
        @include anim(.6s, 0s, $easeInOutExpo, scale(1.1), 50%, 50%, transform opacity);
    }
}
.xp-button {
    // cursor: pointer;
    position: absolute;
    // background-color: red;
    // @include opacity(0.5);
}
#planet.page-wrapper {
    .compasses-texts-wrapper {
        position: absolute;
        font-size: 12px;
        letter-spacing: 4px;
        & > div {
            position: absolute;
        }
        .texts-container {
            color: $white;
            & > div {
                position: absolute;
            }
            .top-title {
            }
            .bottom-title {
                @include rotate(180);
            }
            // @include opacity(0);
            // @include anim(.1s, 0s, $easeInExpo, scale(1.3) translateZ(0), 50%, 50%, transform opacity);
            // &.active {
            //     @include opacity(1);
            //     @include anim(.8s, 0s, $easeOutExpo, scale(1) translateZ(0), 50%, 50%, transform opacity);
            // }
        }
    }
    &.campaign {
        .slideshow-title {
            font-size: 30px;
            position: absolute;
            text-align: center;
            letter-spacing: 2px;
        }
        .product-title-wrapper {
            position: absolute;
            text-transform: uppercase;
            width: 100%;
            height: $globalFontSize;
            overflow:hidden;
            margin-top: 20px;
            @include simpleAnim(.6s, 0s, $easeOutExpo);
            & > div {
                position: absolute;
            }
            .product-title {
                white-space: nowrap;
                @include anim(0s, 0s, $easeOutExpo, translateY(-$globalFontSize) translateZ(0), 0%, 0%, transform);
                &.will-transition-in {
                    @include anim(0s, 0s, $easeOutExpo, translateY(-$globalFontSize) translateZ(0), 0%, 0%, transform);
                }
                &.did-transition-in {
                    @include anim(.6s, 0s, $easeOutExpo, translateY(0px) translateZ(0), 0%, 0%, transform);
                }
                &.will-transition-out {
                    @include anim(0s, 0s, $easeOutExpo, translateY(0px) translateZ(0), 0%, 0%, transform);
                }
                &.did-transition-out {
                    @include anim(.6s, 0s, $easeOutExpo, translateY($globalFontSize) translateZ(0), 0%, 0%, transform);
                }
            }
        }
        .product-containers-wrapper {
            // overflow: hidden;
            @extend .full;
            position: absolute;
            & > div {
                position: absolute;
            }
            .product-container {
                @extend .full;
                @include opacity(0);
                & > div {
                    @extend .full;
                    position: absolute;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                .poster-wrapper {
                    img {
                        @include opacity(0);
                        @include anim(0s, 0s, $easeInOutExpo, scale(1.1), 50%, 50%, transform opacity);
                        &.opened {
                            @include opacity(1);
                            @include anim(.6s, 0s, $easeInOutExpo, scale(1), 50%, 50%, transform opacity);
                        }
                    }
                }
                .video-wrapper {
                    overflow: hidden;
                    .video-container{
                        @extend .full;
                        // @include opacity(0);
                        @include anim(0s, 0s, $easeInOutExpo, scale(1.1), 50%, 50%, transform opacity);
                        &.opened {
                            @include opacity(1);
                            @include anim(.6s, 0s, $easeInOutExpo, scale(1), 50%, 50%, transform opacity);
                        }
                    }
                }
            }
        }
    }
}

#assets-loader-page {
    @extend .full;
    @extend .top-left;
    position: fixed;
    z-index: 999999999;
    visibility: hidden;
    & > div {
        position: absolute;
    }
    .background {
        @extend .full;
        background-color: #000000;
        @include opacity(0.4);
    }
    .spinner-img {
        z-index: 2;
    }
}
#cta-container {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    white-space: nowrap;
    z-index: 999999;
    line-height: 50px;
    .cta-text-wrapper {
        position: absolute;
        z-index: 11;
    }
    .background {
        position: absolute;
        z-index: 10;
        background-color: #000000;
        @include opacity(0.8);
    }
    .headphone-icon {
        $size: 50px;
        width: $size;
        position: relative;
        left: 50%;
        margin-left: -$size/2;
        margin-top: 20px;
        svg > * {
            fill: #ffffff;
        }
    }
}
